:root {
    /* Colors
    ___________________*/
    --color-primary: #7a49fe;
    --color-primary-dark: #7016ff;
    --color-primary-lighten: #c8b6fa;
    --color-gradient: linear-gradient(121.77deg, #7141fb 13.51%, #4b14e8 174.68%);
    --color-secondary: #212736;
    --color-secondary-dark: #1d2230;
    --color-gray: #747474;
    --color-gray-light: #b8bbc7;
    --color-gray-lighten: #f6f8fe;
    --color-white: #fff;
    --color-title: #3f396d;
    --color-border: #2b3142;
  
    /* Font & Typography
    ___________________*/
    --font-family-primary: "Rubik", sans-serif;
    /* font sizes */
    --fs-xs: 1.2rem;
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 2rem;
    --fs-xl: 2.4rem;
    --fs-xxl: clamp(2.4rem, 5vw, 4.2rem);
    --fs-biggest: clamp(3.2rem, 5vw, 5.8rem);
    /* font weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
  
    /* z-index
    ___________________*/
    --zindex-fixed: 1000;
    --zindex-menu: 1010;
  
    /* With & Height 
    ------------------*/
    --width-container: 110rem;
    --height-header--scroll: 8rem;
  
    /* Transition and box shadow*/
    --transition: 0.4s ease-in-out;
    --shadow-primary: 0 0 85px 0 #e9eefc;
    --shadow-secondary: 0px 30px 60px 2px rgba(0, 0, 0, 0.1);
    --shadow-header: 0px 3px 10px rgba(0, 0, 0, 0.13);
  
    /* border-radius */
    --b-radius: 1.5rem;
  }
  
  /* CSS Reset
  --------------------------------------------------------------*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  

  
  html {
    font-size: 70%;
    scroll-behavior: smooth;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  ul,
  p {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  input,
  textarea,
  button {
    font: inherit;
    outline: none;
  }
  
  button {
    cursor: pointer;
    border: none;
  }
  
  a {
    text-decoration: none;
    color: var(--color-gray);
  }
  
  main {
    overflow: hidden;
  }
  
  body {
    font-family: var(--font-family-primary);
    font-size: var(--fs-md);
    font-weight: var(--fw-regular);
    color: var(--color-gray);
    margin-top: var(--height-header);
  }

  /* Reausable CSS Classes
  --------------------------------------------------------------*/
  .container {
    width: 100%;
    max-width: var(--width-container);
    margin: auto;
  }
 
  /* Header
  --------------------------------------------------------------*/
  .header {
    background-color: #ffffff;
    box-shadow: var(--shadow-header);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 5rem;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .nav__brand {
    color: #0e0e0e;
    font-size: 30px;
    font-weight: bold;
  }
  
  .nav__buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    color: #000;
    transition: var(--transition);
  }
  
  .theme__toggle,
  .nav__toggle {
    cursor: pointer;
  }
    
  .nav__link {
    color: var(--color-title);
    transition: var(--transition);
  }

  .nav__link:hover {
    color: var(--color-primary);
  }
  
  section{
    margin-top: 90px;
    text-align: center;
    color: #000;
  }
  /* Mobile menu */
  @media screen and (max-width: 968px) {
    .nav__brand{
      margin-left: 118px;
    }
    .nav__menu {
      background-color: #dfdfdf;
      border-radius: 20px 20px 0 0;
      position: fixed;
      right: -100%;
      bottom: 0;
      width: 100%;
      min-height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: var(--transition);
    }
  
    .nav__menu--open {
      right: 0;
    }
  
    .nav__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  
    .nav__link {
      display: flex;
      font-size: 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      row-gap: 1.5rem;
      padding: 2rem;
      border-radius: var(--b-radius);
    }
   
    .nav__icon {
      font-size: 2.1rem;
    }
  
    .nav__link--active {
      background: var(--color-gradient);
      color: var(--color-white);
    }
    .nav__toggle{
      margin-right: 5px;
    }
  }
 
  @keyframes scrolltopAnimation {
    0% {
      box-shadow: 0px 0px 0px 10px rgb(113 67 245 / 99%);
    }
  
    100% {
      box-shadow: 0px 0px 0px 40px rgb(113 67 245 / 1%);
    }
  }
  
  /* Scrollbar
  --------------------------------------------------------------*/
  ::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--color-gray-lighten);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
    border-radius: 0.5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
  }

  @media screen and (min-width: 968px) {
    .nav__menu {
      margin-left: auto;
      margin-right: 3rem;
    }
  
    .nav__list {
      display: flex;
      column-gap: 4rem;
    }
  
    .nav__toggle,
    .nav__icon {
      display: none;
    }
    .nav__toggle{
      margin-right: 10px;
    }
    .nav__link {
      position: relative;
    }
  
    .nav__link::before {
      position: absolute;
      content: "";
      background: var(--color-gradient);
      width: 100%;
      height: 0.4rem;
      bottom: -3rem;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      transition: var(--transition);
      transform: scaleX(0);
    }
  
    .nav__link--active {
      color: var(--color-primary);
    }
  
    .nav__link--active::before {
      transform: scaleX(1);
    }
  }
  