/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 500px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.img-cart{
    width: 80px;
    border-radius: 5px;
}
.titulo-producto-carrito{
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-left: 5px;
    font-size: 20px;
}

.precio-producto-carrito{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item{
    width: 270px;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
    transition: all .5s;
    
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    transition: all .5s;
}

.item span{
    overflow: hidden;
    border-radius: 20px 20px 0 0;

}


.info-product{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
h2, .model, .price, .btn-add-cart{
    padding: 4px 15px;

}
.btn-add-cart{
    margin: 9px;
}
h2{
    font-size: 17px;
}
.model{
    font-size: 18px;
}
.price{
    font-size: 22px;
    font-weight: 900;
    color: rgb(185, 4, 4);
}

.info-product button{
    border: none;
    border-radius: 10px;
    background: none;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}
